
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}

:root {
  --primary_brand-color: #4D5AE5;
  --pressed_state-color: #404BBF;
  --dark-color: #2E2F42;
  --success-color: #31D0AA;
  --text-color: #434455;
  --subtle_text-color: #8E8F99;
  --accent-color: #E7E9FC;
  --light-color: #F4F4FD;
  --modal_overlay-color: #2E2F42;
  --hero_background-color: #2E2F42;
  --white_background-color: #FFFFFF;
  --modal_background-color: #FCFCFC;
}

/*Common Styles*/

* {
  margin: 0px;
  padding: 0px;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  display: block;
}

.list {
  list-style: none;
  display: flex;
  gap: 24px;
  margin: 0;
  justify-content: center;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Header Styles*/

.page-header {
  outline: 1px solid var(--light-color);
  box-shadow: 0px 2px 1px #2E2F4214,
              0px 1px 1px #2E2F4229,
              0px 1px 6px #2E2F4214;
  margin: 0 auto;
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 24px; */
}

.navigation-logo {
  color: var(--primary_brand-color);
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;  
}

.logo-span {
  color: var(--dark-color);
}

.navigation-page {
  gap: 40px;
}

.navigation-link {
  color: var(--dark-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  cursor: pointer;
  padding: 24px 0;
  display: inline-block;
}

.address {
  font-style: normal;
}

.address-list {
  gap: 40px;
  margin-right: 0px;
}

.address-link {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  cursor: pointer;
  text-decoration: none;
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--pressed_state-color);
}

.address-link:hover,
.address-link:focus {
  color: var(--pressed_state-color);
}

/*Portfolio Section no.1 Styles*/

.section-project {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filters-list {
  margin-bottom: 72px;
}

.filter-button {
  color: var(--primary_brand-color);
  background-color: #F4F4FD;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

.filter-button:hover,
.filter-button:focus {
  color: #FFFFFF;
  background-color: #404BBF;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.project-list {
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.project-point {
  flex-basis: calc((100% - 48px) / 3);
}

.portfolio-section-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.project-tittle {
  color: var(--dark-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.project-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.project-photo {
  display: block;    
}

.project-photo:hover,
.project-photo:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/*Studio Hero Section no.1 Styles*/

.hero-section {
  background-color: var(--hero_background-color);
  padding: 188px 0px;
  margin: 0 auto;
}

.background-image-section {
  background-image: linear-gradient(#2E2F42B3, #2E2F42B3), url('../images/people-office-background-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1440px;
}

.main-headline {
  color: #FFF;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: auto auto 48px auto;
  text-align: center
}

.main-headline-button {
  color: #FFF;
  background-color: #4D5AE5;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: auto auto auto auto;
}

.main-headline-button:hover,
.main-headline-button:focus {
  background-color: var(--pressed_state-color);
}

/*Studio Objective Section no.2 Styles*/

.section-objectives {
  padding: 120px 0;
}

.list-point-objectives {
  flex-basis: calc((100% - 72px) / 4);
}

.sub-headline {
  color: var(--dark-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.sub-headline-objectives {
  color: var(--dark-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.text-objectives {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*Studio Doing Section no.3 Styles*/

.doing-section {
  background-color: var(--white_background-color);
  padding-bottom: 120px;
}

.list-point-doing {
  flex-basis: calc((100% - 48px) / 3);
}

/*Studio Team Section no.4 Styles*/

.team-section {
  background: #F4F4FD;
  padding: 120px 0;
}

.list-team {
  background-color: #FFFFFF;
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.name-team {
  padding: 32px 0px;
}

.team-peaple-name {
  color: var(--dark-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  text-align: center;
  margin-bottom: 8px;
}

.team-position {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

/*Studio Footer Styles*/

.footer {
  background-color: var(--hero_background-color);
  padding: 100px 0;    
}

.footer-navigation-logo {
  color: var(--primary_brand-color);
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.logo-footerspan {
  color: var(--light-color);
}

.footer-text {
  color: var(--light-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
