* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}

:root {
  --primary_brand-color: #4D5AE5;
  --pressed_state-color: #404BBF;
  --dark-color: #2E2F42;
  --success-color: #31D0AA;
  --text-color: #434455;
  --subtle_text-color: #8E8F99;
  --accent-color: #E7E9FC;
  --light-color: #F4F4FD;
  --modal_overlay-color: #2E2F42;
  --hero_background-color: #2E2F42;
  --white_background-color: #FFFFFF;
  --modal_background-color: #FCFCFC;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  display: block;
}

.list {
  list-style: none;
  display: flex;
  gap: 24px;
  justify-content: center;
}

.link {
  text-decoration: none;
}

/*Header Styles*/
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
              0px 1px 1px rgba(46, 47, 66, 0.16),
              0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-logo {
  color: var(--primary_brand-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;  
}

.logo-span {
  color: var(--dark-color);
}

.navigation-page {
  gap: 40px;
}

.navigation-link {
  color: var(--dark-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: inline-block;
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--pressed_state-color);
}

.address {
  font-style: normal;
}

.address-list {
  gap: 40px;
  margin-right: 0px;
}

.address-link {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-link:hover,
.address-link:focus {
  color: var(--pressed_state-color)
}

/* section no1 hero section */

.hero-section {
  background-color: var(--hero_background-color);
  padding: 188px 0;
}

.hero-section-title {
  color: #FFF;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  text-align: center;
  font-weight: 700;
  margin: 0 auto;
  margin-bottom: 48px;
}

.hero-section-button {
  color: #FFF;
  background-color: var(--primary_brand-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
}

.hero-section-button:hover,
.hero-section-button:focus {
  background-color: var(--pressed_state-color);
}

/* section no2 our strong sides */

.sides-section {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.sides-section-list {
  flex-basis: calc((100% - 72px) / 4);
}

.sides-section-heading {
  color: var(--dark-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.sides-section-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* section no3 our team */

.team-section {
  background-color: var(--light-color);
  padding: 120px 0;
}

.team-section-title {
  color: var(--dark-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-section-list {
  background-color: var(--white_background-color);
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.team-section-card {
  padding: 32px 0px;
}

.team-section-people-title {
  color: var(--dark-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-section-people-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

/* section no4 our portfolio */

.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;  
}

.portfolio-section-title {
  color: var(--dark-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-section-ul {
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-section-list {
  width: calc((100% - 48px) / 3);
}

.portfolio-section-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-section-our-title {
  color: var(--dark-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-section-our-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* margin-bottom: 8px; */
}

/* footer */

footer {
  background-color: var(--hero_background-color);
  padding: 100px 0;
}

.footer-navigation-logo {
  color: var(--primary_brand-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 76px;
  margin-bottom: 16px; 
}

.logo-footerspan {
  color: var(--light-color);
}

.footer-text {
  color: var(--light-color);
  font-size: 16px;
  /* margin-bottom: 16px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}